@tailwind base;
@tailwind components;
@tailwind utilities; 
@import url("https://fonts.cdnfonts.com/css/regular");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none !important;
  list-style-type: none;
}
body {
  font-family: Font-Regular;
  color: #14142b;
}
.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.v-container {
  max-width: 1300px;
}

.header {
  max-width: 100%;
  max-height: 435px;
  vertical-align: middle;
  background: url(../assets/images/Headerbg.png) no-repeat;
  background-size: cover;
  background-position: initial;
  background-clip: padding-box;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  transition: all 0.5s ease;


}
.header--home {
  padding-bottom: 20.125rem;
  .header__logo {
    img {
      width: 18.75rem;
      height: 4.375rem;
    }
  }
  .header__login {
    width: 30rem;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    .header__call {
        display: flex;
        justify-content: center;
        align-items: center;
            margin-right: 3.125rem;
            height: 50px;
            font-weight: 600;
            font-family: Font-SemiBold;
            font-size: 1rem;
            line-height: 1.3125rem;
            color: #fff;
     
      img{
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1.4rem;
      }

    }
    button {
        padding: 15px 15px 13px 15px;
        text-shadow: none;
        font-size: .875rem;
        color: #304b82;
        cursor: pointer;
        outline: none;
        font-weight: 500;
        line-height: 1.3125rem;
        background-color: white;
        border: 1px solid #304b82;
        box-sizing: border-box;
        border-radius: 8px;
        display: flex;
        align-items: center;

    }
   
  }
}
.d-lg-none {
    display: none !important;
  }
  
  
/* Row Styles */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}



/* Column Styles */
.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
/* Bootstrap Col Classes */
.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-lg-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Bootstrap Spacing Classes */
.mb-60 {
  margin-bottom: 60px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mr-40 {
  margin-right: 40px;
}



.mb-12 {
  margin-bottom: 12px;
}
.mb-8{
  margin: bottom 8px;;
}





.d-md-flex {
  display: flex !important;
}

/* Bootstrap Justify Content Classes */
.justify-end {
  justify-content: flex-end;
}

/* Bootstrap Text Styles */
.text-right {
  text-align: right;
}

/* Bootstrap Image Styles */
img {
  max-width: 100%;
  height: auto;
}

.text-right {
  text-align: right;
}


.header__search-col {
  transition: all .5s ease;
  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}
.search {
  position: relative;
}
.search__button {
  position: absolute;
  left: 15px;
  top: 15px;
  img {
    max-width: 100%;
    vertical-align: middle;
  }
}
.search__input input {
  border-radius: .9375rem;
  padding: 1.25rem 1.25rem 1.25rem 4.0625rem;
  border: 0;
}


.v-input {
  width: 100%;
  font-family: Font-Medium;
  letter-spacing: .0625rem;
  color: #14142b;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  outline: none;
  padding: .875rem 1.25rem;
  box-sizing: border-box;
  font-size: .75rem;
  line-height: 1.25rem;
  transition: all .5s ease;
}
.v-input::placeholder {
  font-size: .8125rem;
  color: #959595;
  opacity: .5;
}

.search__advanced-icon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  align-items: center;
  display: flex;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.3125rem;
  color: #14142b;
}
.search__advanced-icon img {
  margin-right: .5rem;
  width: 1.25rem;
  height: 1.25rem;
}
@media screen and (max-width: 992px) {
  .header--home {
    padding-bottom: 16.0625rem;
    .header__logo {
      img {
        width: 13rem;
        height: 70px;
        object-fit: contain;
      }
    }
  }
  .search {
    margin-bottom: 1.25rem;
  }
  .d-none {
    display: none !important;
  }
  .d-lg-none {
    display: none !important;
  }
  .col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  
  .d-block {
    display: block !important;
  }
  

  
  
}

@media screen and (max-width: 480px) {

  .header__logo {
    height: 70px;
    img {
      width: 13rem;
      height: 70px;
      object-fit: contain;
    }
  }
  .d-none {
    display: none !important;
  } 
  .d-md-block {
    display: block !important;
  }
}

