@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "custom";
  src: url("/font/regular.otf");
}
* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none !important;
  list-style-type: none;
}
body {
  color: #14142b;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.v-container {
  max-width: 1300px;
}
/* styles.css */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.modal-slide-in {
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.modal-animation {
  animation: slideDown 0.5s ease forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header--home-lg {
  animation-name: fadeInDown;
}

.header--not-home-lg {
  animation-name: fadeOutUp;
}

.header {
  max-width: 100%;
  max-height: 435px;
  vertical-align: middle;
  background: url(../assets/images/Headerbg.png) no-repeat;
  background-size: cover;
  background-position: initial;
  background-clip: padding-box;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  transition: height 0.5s ease-in-out;
}
.header--home {
  padding-bottom: 20.125rem;
}

.header--home .header__logo img {
  width: 18.75rem;
  height: 4.375rem;
}

.header__login {
  width: 30rem;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
.header__login .header__call {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3.125rem;
  height: 50px;
  font-weight: 600;
  font-family: Font-SemiBold;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: #fff;
}
.header__call img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1.4rem;
}

.header__login button {
  padding: 15px 15px 13px 15px;
  text-shadow: none;
  font-size: 0.875rem;
  color: #304b82;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  line-height: 1.3125rem;
  background-color: white;
  border: 1px solid #304b82;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.d-lg-none {
  display: none !important;
}

/* Row Styles */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* Column Styles */
.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
/* Bootstrap Col Classes */
.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-lg-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Bootstrap Image Styles */
img {
  max-width: 100%;
  height: auto;
}

.header__search-col {
  transition: all 0.5s ease;
}
.header__search-col button {
  background: none;
  border: none;
  cursor: pointer;
}
.search {
  position: relative;
}
.search__button {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: index 3;
}
.search__button > img {
  max-width: 100%;
  vertical-align: middle;
}
.search__input input {
  border-radius: 0.9375rem;
  padding: 1.25rem 1.25rem 1.25rem 4.0625rem;
  border: 0;
}

.search__advanced-icon {
  cursor: pointer;
  position: absolute;
  top: 30px;
  transform: translateY(-50%);
  right: 24px;
  align-items: center;
  display: flex;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #14142b;
}
.search__advanced-icon img {
  margin-right: 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
}

/* styles.css */
/* Digər kodlar ... */

.search-components {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.search-components.show {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 975px) and (max-width: 1010px) {
  .header {
    height: 30rem; /* Header height adjustment */
  }

  /* Make the logo responsive */
  .header__logo img {
    width: 100%;
    height: auto;
    max-width: 18.75rem;
    max-height: 4.375rem;
  }

  /* Make login button and call section responsive */
  .header__login {
    width: 100%;
    justify-content: center;
  }

  .header__login .header__call {
    margin-right: 0;
  }

  /* Additional style modifications for this breakpoint if needed */
}

@media screen and (max-width: 974px) {
  .header {
    height: 30rem;
  }
  .header--home {
    animation-duration: 1s;
    padding-bottom: 16.0625rem;
  }
  .header--home > .header__logo > img {
    width: 13rem;
    height: 70px;
    object-fit: contain;
  }
  .search {
    margin-bottom: 1.25rem;
  }
  .d-none {
    display: none !important;
  }
  .d-lg-none {
    display: none !important;
  }
  .col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .d-block {
    display: block !important;
  }
}

@media screen and (max-width: 480px) {
  .header {
    animation: fadeInOut 1s ease-in-out;
    height: 23rem;
  }
  .header__logo {
    height: 70px;
  }
  .header__logo img {
    width: 13rem;
    height: 70px;
    object-fit: contain;
  }
  .d-none {
    display: none !important;
  }
  .d-md-block {
    display: block !important;
  }
}

/* MODAL */
.modal-overlay {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  animation: fadeInDown 1s ease-in-out; /* Add a fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
