/* SwiperComponent.css */
.search__tags::after {
  right: 0;
  transform: translateX(50%);
  background: linear-gradient(270deg,#304b82 48.04%,rgba(48,75,130,0));
}
.search__tags::after, .search__tags::before {
  content: "";
    position: absolute;
  height: 100%;
  top: 0;
  z-index: 2;
}
.search__tags::before {
  left: 0;
  transform: translateX(-50%);
  background: linear-gradient(90deg,#304b82 48.04%,rgba(48,75,130,0));
}
.swiper-container {
  position: relative;
  width: 100%;
  height: 2.3rem;
  overflow: hidden;
  box-sizing: content-box;
  gap: 10px;
  margin: 20px auto;
  display: flex;

}

.swiper-slide {
  width: auto !important;
    white-space: nowrap;
  margin-right: 10px;
  height: 2.2rem;
}

.swiper-button {
  padding: 0.5rem 0.9rem;
  border-radius: 1rem;
    background-color: hsla(0, 0%, 100%, 0.2);
  display: inline-block;
  font-size: 0.9rem;
  line-height: 1.125rem;
  word-spacing: 5px; 
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
  
}
